{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}A propos de moi{% endblock %}
{% endblock %}

{% block content %}
    <img src="{{ asset('images/marie6.jpg') }}" alt="Géant" class="content-image">
    <p>Je m'appelle Marie Délèze, j'ai 16 ans et je suis une passionnée de ski alpin. Je viens de Nendaz, dans le magnifique canton du Valais en Suisse. Depuis mon plus jeune âge, j'ai été attirée par les montagnes enneigées et les pistes de ski.</p>
    <p>Très rapidement, j’ai attrapé la fièvre de la compétition et depuis j’enchaîne les piquets rouges-bleus toutes les semaines et avec la même passsion.</p>
    <p>Parallèlement à ma carrière sportive, je suis actuellement en 3ème année de formation gymnasiale, au Collège Spiritus Sanctus de Brig.</p>
{% endblock %}
