{% extends 'layout.html.twig' %}

{% block title %}A propos de nous{% endblock %}

{% block content %}
    <div class="content">
        <h1>A propos de nous</h1>

        <div class="flex justify-center">
            <img src="{{ asset('images/comite.jpg') }}" class="w-full lg:w-2/3" alt="Comité">
        </div>

        <div class="flex flex-col gap-2">
            <h2>Présentation</h2>
            <p>
                En mars 2024, notre association a organisé son 1er évènement à la salle de l’Abeille à Riddes, lequel a
                connu un franc succès. En effet, nous avons pu compter sur la présence de plus de 800 personnes.
            </p>
            <p>
                Vu l’engouement suscité, le comité lequel est composé de 4 personnes passionnées de musique «Schlager », a
                décidé de mettre sur pied une 2ème édition, sous la forme d’un mini-festival. Cette soirée aura lieu
                le <span class="font-bold">samedi 05 avril 2025, à la Salle Polyvalente à Conthey</span>.
            </p>
            <p>
                Un DJ ainsi que 4 artistes «Schlager » reconnus mondialement se succéderont sur scène et mettront le feu
                à la salle.
            </p>
            <p>
                Cet événement est le lieu idéal afin d’organiser votre souper d’entreprise, une sortie entre amis ou passer
                une soirée inoubliable.
            </p>
            <p>
                Vous trouverez sur ce site internet un aperçu de l’incroyable ambiance qui régnait lors de notre 1re
                édition (photos-vidéos). Nos publications sur les réseaux sociaux Facebook, Instagram (Schlager festival)
                vous permettront également de vous rendre compte de l’enthousiasme suscité par une telle manifestation
                (environ 10’000 vues par publication).
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2>Objectifs</h2>
            <p>
                L’association, créée en 2023, a pour objectif de valoriser et faire découvrir, à tout public, la musique
                «Schlager», malheureusement, trop méconnue dans notre Canton. Par sa programmation exceptionnelle, elle
                permet d’amener, en Valais, une ambiance digne des plus grands festivals «Schlager» organisés en Allemagne,
                en Autriche et à Malle.
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2>Contact</h2>
            <p>
                Association "Les Amis de la Schlager"<br>
                1976 Erde<br>
                Valais - Suisse<br>
                E-mail: <a href="mailto:admin@lesamisdelaschlager.ch">admin@lesamisdelaschlager.ch</a>
            </p>
        </div>
    </div>
{% endblock %}
