{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}Mes performances{% endblock %}
{% endblock %}

{% block content %}
    <p>Durant la saison écoulée, j’ai obtenu plusieurs bons résultats, notamment un titre de championne valaisanne enfin de saison, sur mes terres, à Veysonnaz.</p>

    <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="space-y-4">
            <p>Décembre 2023 - Raiffeisen Trophy - Zermatt<br>
            <span class="font-bold">3ème en slalom</span></p>

            <p>Janvier 2024 - Raiffeisen Trophy - Grächen<br>
            <span class="font-bold">2ème et 3ème en slalom</span></p>

            <p>Janvier 2024 - IRW - Les Diablerets<br>
            <span class="font-bold">2 x 2ème en slalom</span></p>

            <p>Mars 2024 - IRW - Thyon<br>
            <span class="font-bold">3ème en slalom</span></p>
        </div>
        <div class="space-y-4">
            <p>Avril 2024 - Championnat Valaisan - Veysonnaz<br>
            <span class="font-bold">1ère en slalom géant</span></p>

            <p>Avril 2024 - Championnat Valaisan - Veysonnaz<br>
            <span class="font-bold">3ème en slalom</span></p>

            <p>Avril 2024 - IRW - Classement général<br>
            <span class="font-bold">6ème place</span></p>
        </div>
    </div>

    <img src="{{ asset('images/marie5.jpg') }}" alt="Podium" class="content-image">
{% endblock %}
