{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}Sponsoring matériel{% endblock %}
{% endblock %}

{% block closeLink %}{{ path('app_default_help') }}{% endblock %}

{% block content %}
    <p>
        <a href="{{ asset('documents/dossier-sponsoring-materiel.pdf') }}" target="_blank" class="text-primary">Télécharger le dossier (PDF)</a>
    </p>
    <p>Pour pouvoir m’entraîner de manière optimale et réaliser de belles performances, le talent ne suffit pas.</p>
    <p>Le ski de compétition nécessite du matériel au top et je suis certain que vous pourrez me donner un coup de main avec vos produits et services de très grande qualité.</p>
    <p>Si j’ai la chance d’avoir votre aide, vous serez mis en avant sur mes réseaux sociaux, ainsi que sur mon site internet <a href="https://mariedeleze.ch" class="text-primary">mariedeleze.ch</a>.</p>
    <p>De plus, je vous communiquerai régulièrement mes résultats obtenus durant la saison.</p>
    <p>Et bien évidemment, vous recevrez une carte de remerciement personnalisée.</p>
    <div class="text-6xl font-heading text-center !my-8">Merci pour votre soutien !</div>
    <img src="{{ asset('images/marie2.jpg') }}" alt="Slalom" class="content-image">
{% endblock %}
