{% extends 'layout.html.twig' %}

{% block title %}Mobilité{% endblock %}

{% block content %}
    <div class="content">
        <h1>Mobilité</h1>
        <div class="flex flex-col gap-2">
            <h2>En voiture</h2>
            <p>Sortie autoroute Conthey puis veuillez suivre les panneaux "manifestation" jusqu’aux différents parkings.</p>
        </div>
        <div class="flex flex-col gap-2">
            <h2>En train</h2>
            <p>Gare de Châteauneuf-Conthey à proximité.</p>
            <p>Pour de plus amples informations, veuillez vous référer aux horaires du site internet <a href="https://www.cff.ch" target="_blank" class="underline">www.cff.ch</a>.</p>
        </div>
        <div class="flex flex-col gap-2">
            <h2>En car - Lunabus</h2>
            <p>Aller : arrêt à proximité (Conthey - Centre commercial)</p>
            <p>Retour : Lunabus (devant la salle Polyvalente)</p>
            <p>Pour de plus amples informations, veuillez vous référer aux horaires du site internet <a href="https://www.postauto.ch/fr" target="_blank" class="underline">www.postauto.ch/fr</a>.</p>
        </div>
    </div>
{% endblock %}
