{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}Parrainage{% endblock %}
{% endblock %}

{% block closeLink %}{{ path('app_default_help') }}{% endblock %}

{% block content %}
    <p><a href="{{ asset('documents/dossier-parrainage.pdf') }}" target="_blank" class="text-primary">Télécharger le dossier (PDF)</a></p>
    <p>Même la plus petite aide de votre part sera plus que précieuse!</p>
    <p>Vos dons <span class="font-bold">dès 10 CHF</span> peuvent être versés sur mon compte à l’IBAN <span class="font-bold">XXXXX</span>, mention “Parrainage Marie”.</p>
    <p>En tant que parrain, si vous le souhaitez, vous serez mentionnés sur mon site internet mariedeleze.ch.</p>
    <p>Tous les sponsors et parrains recevront une carte de remerciement et seront conviés à une soirée conviviale.</p>
    <p>De plus, je vous communiquerai régulièrement mes résultats obtenus durant la saison.</p>
    <div class="text-6xl font-heading text-center !my-8">Merci pour votre soutien !</div>
    <img src="{{ asset('images/marie4.jpg') }}" alt="Slalom" class="content-image">
{% endblock %}
