{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}Sponsoring{% endblock %}
{% endblock %}

{% block closeLink %}{{ path('app_default_help') }}{% endblock %}

{% block content %}
    <p><a href="{{ asset('documents/dossier-sponsoring.pdf') }}" target="_blank" class="text-primary">Télécharger le dossier (PDF)</a></p>
    <p>
        <span class="font-bold">Dès 1'500 CHF</span><br>
        Vous aurez l’opportunité d’avoir votre logo sur le devant de mes casques, disposant ainsi d’une grande visibilité lors de mes déplacements dans tout le Valais, la Suisse et à l’étranger.
    </p>
    <p>
        <span class="font-bold">Dès 900 CHF</span><br>
        Votre logo sera vsibible à l’arrière ou sur les côtés de mes casques.
    </p>
    <p>
        <span class="font-bold">Dès 700 CHF</span><br>
        Votre logo sera visible sur mon pantalon de ski et ma softshell.
    </p>
    <p>
        <span class="font-bold">Dès 500 CHF</span><br>
        Votre logo sera visible sur mon sac de ski, qui m’accompagne partout sur les pistes.
    </p>
    <p>
        <span class="font-bold">Dès 300 CHF</span><br>
        Visibilité garantie sur tous les supports numériques que j’utilise.
    </p>
    <p>En tant que sponsor, vous serez visibles sur mon site internet mariedeleze.ch, sur toutes mes publications sur les réseaux sociaux, ainsi que sur les cartes de remerciement.</p>
    <p>De plus, je vous communiquerai régulièrement mes résultats obtenus durant la saison.</p>
    <div class="text-6xl font-heading text-center !my-8">Merci pour votre soutien !</div>
    <img src="{{ asset('images/marie7.png') }}" alt="Slalom" class="content-image">
{% endblock %}
