{% extends 'layout.html.twig' %}

{% block title %}Recherche de bénévoles{% endblock %}

{% block content %}
    <div class="content text-center">
        <h1>Recherche de bénévoles</h1>
        <div class="flex flex-col gap-2 text-center">
            <p>Nous avons besoin de vous pour que cette soirée soit une réussite.</p>
            <p>Si tu es intéressé(e) à nous aider d'une quelconque manière, tu peux t'inscrire sur le lien suivant:</p>
        </div>
        <div>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfME5jHTKK3JUl2_U4RzMGVgytX0hkXanMo1uQhPolFezuszQ/viewform?usp=pp_url" target="_blank" class="uppercase text-white bg-primary py-3 px-5 rounded-md font-semibold inline-block">Inscription</a>
        </div>
    </div>
{% endblock %}
