{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-cover h-96" style="background-image: url('{{ asset('images/header.jpg') }}')"></div>
    {% block content %}{% endblock %}
{% endblock %}
